# Patterns to ignore when building packages.
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
Thumbs.db
.helmignore
*_test.go
.github/
.gitlab-ci.yml
.travis.yml
Jenkinsfile
Makefile
docker-compose.yml
.env
.env.local
.env.*.local
logs/
*.log
